<?php include(TEMPLATE_PATH.'header.html') ?>
<!-- Main -->
<section id="main" class="container">
	<section class="box special">
		<header class="major">
			<h2>Introducing the ultimate mobile app
			<br />
			for doing stuff with your phone</h2>
			<p>Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc ornare<br />
			adipiscing nunc adipiscing. Condimentum turpis massa.</p>
		</header>
		<span class="image featured"><img src="images/pic01.jpg" alt="" /></span>
	</section>
	<div class="row">
		<div class="6u">

			<section class="box special">
				<span class="image featured"><img src="images/pic02.jpg" alt="" /></span>
				<h3>PHP</h3>
				<p>PHP</p>
				<ul class="actions">
					<li><a href="/home/php/index" class="button alt">Learn More</a></li>
				</ul>
			</section>
			
		</div>
		<div class="6u">

			<section class="box special">
				<span class="image featured"><img src="images/pic03.jpg" alt="" /></span>
				<h3>Mysql</h3>
				<p>Mysql</p>
				<ul class="actions">
					<li><a href="/home/mysql/index" class="button alt">Learn More</a></li>
				</ul>
			</section>

		</div>
	</div>

</section>

<!-- CTA -->
<section id="cta">
	
	<h2>Sign up for beta access</h2>
	<p>Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc.</p>
	
	<form>
		<div class="row uniform half collapse-at-2">
			<div class="8u">
				<input type="email" name="email" id="email" placeholder="Email Address" />
			</div>
			<div class="4u">
				<input type="submit" value="Sign Up" class="fit" />
			</div>
		</div>
	</form>
	
</section>
			


<?php include(TEMPLATE_PATH.'footer.html') ?>
