<!DOCTYPE HTML>

<html>
	<head>
		<title>木头博客</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/jquery.dropotron.min.js"></script>
		<script src="/static/js/jquery.scrollgress.min.js"></script>
		<script src="/static/js/skel.min.js"></script>
		<script src="/static/js/skel-layers.min.js"></script>
		<script src="/static/js/init.js"></script>
	        <link rel="stylesheet" href="/static/css/skel.css" />
	        <link rel="stylesheet" href="/static/css/left-menu.css" />
    	        <link rel="stylesheet" href="/static/css/style.css" />
	        <link rel="stylesheet" href="/static/css/style-wide.css" />
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
				<h1>木头博客</h1>
				<nav id="nav">
					<ul>
						<li><a href="/">首页</a></li>
					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h2>Grass</h2>
				<p>学无止境,永不停滞</p>
			</section>
